# Ignore node_modules folder
node_modules/

# Ignore source files and directories
src/
scripts/
*.ts
*.tsx

# Ignore development and build files
build/
*.log
*.tmp
*.env

dev

# Ignore test files and directories
__tests__/
*.test.js
*.test.ts
*.spec.js
*.spec.ts

# Ignore editor and IDE config
.vscode/
.idea/

# Ignore documentation files
README.md
CHANGELOG.md
LICENSE
